<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.4.0, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="../img/logomontreal-946x596.png" type="image/x-icon">
  <meta name="description" content="Site Builder Description">
  <title>menu Administrador</title>
  <link rel="stylesheet" href="../css/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="../css/tether/tether.min.css">
  <link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="../css/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="../css/dropdown/css/style.css">
  <link rel="stylesheet" href="../css/socicon/css/styles.css">
  <link rel="stylesheet" href="../css/theme/css/style.css">
  <link rel="stylesheet" href="../css/mobirise/css/mbr-additional.css" type="text/css">



</head>

<body>
  <section class="menu cid-qzhncBUByh" once="menu" id="menu1-3i" data-rv-view="2670">



    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
      <div class="menu-logo">
        <div class="navbar-brand">
          <span class="navbar-logo">
                    <a href="index.html">
                         <img src="../img/logomontreal-946x596.png" alt="Mobirise" title="" media-simple="true" style="height: 3.8rem;">
                    </a>
                </span>
          <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href=""><p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p></a></span>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
          <li class="nav-item">
            <a class="nav-link link text-white display-4" href="/logout"><span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>

                        Cerrar Sesión</a>
          </li>
        </ul>

      </div>
    </nav>
  </section>

  <section class="engine"><a href=""></a></section>
  <section class="features8 cid-qzzjv6935b" id="features8-3j" data-rv-view="2672">

    <div class="container">
      <div class="media-container-row">

        <div class="card  col-12 col-md-6 col-lg-3">
          <div class="card-img">
            <span class="mbr-iconfont mbri-globe-2" media-simple="true"></span>
          </div>
          <div class="card-box align-center">
            <h4 class="card-title mbr-fonts-style display-7">
                        Creación de Centro de Estudio CEM</h4>
            <p class="mbr-text mbr-fonts-style display-7">Crear Centro de estudios.<br><br><br><br></p>
            <div class="mbr-section-btn text-center"><a href="/admin/crearCem" class="btn btn-secondary display-4">
                            Crear CEM</a></div>
          </div>
        </div>

        <div class="card  col-12 col-md-6 col-lg-3">
          <div class="card-img">
            <span class="mbr-iconfont mbri-database" media-simple="true"></span>
          </div>
          <div class="card-box align-center">
            <h4 class="card-title mbr-fonts-style display-7">
                        Lista Centros de Estudio CEM</h4>
            <p class="mbr-text mbr-fonts-style display-7">
              En esta tarjeta puedes ver la lista de CEM.<br><br><br></p>
            <div class="mbr-section-btn text-center"><a href="/admin/listarCem" class="btn btn-secondary display-4">Listar CEM</a></div>
          </div>
        </div>

        <div class="card  col-12 col-md-6 col-lg-3">
          <div class="card-img">
            <span class="mbr-iconfont mbri-globe-2" media-simple="true"></span>
          </div>
          <div class="card-box align-center">
            <h4 class="card-title mbr-fonts-style display-7">
                        Generar Resumen de Programa</h4>
            <p class="mbr-text mbr-fonts-style display-7">Genera un documento resumen de programas.<br><br><br><br></p>
            <div class="mbr-section-btn text-center"><a href="/admin/crearCel" class="btn btn-secondary display-4">(Pronto)</a></div>
          </div>
        </div>

        <div class="card  col-12 col-md-6 col-lg-3">
          <div class="card-img">
            <span class="mbr-iconfont mbri-database" media-simple="true"></span>
          </div>
          <div class="card-box align-center">
            <h4 class="card-title mbr-fonts-style display-7">
                        Lista de Centros de Estudio del extranjero</h4>
            <p class="mbr-text mbr-fonts-style display-7">
              Aquí puedes ver los Centros de Estudio del extranjero.<br><br><br></p>
            <div class="mbr-section-btn text-center"><a href="/admin/listarCel" class="btn btn-secondary display-4">
                            Listar CEL</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="features8 cid-qzVa0NOdEs" id="features8-3u" data-rv-view="2675">





    <div class="container">
      <div class="media-container-row">

        <div class="card  col-12 col-md-6 col-lg-3">
          <div class="card-img">
            <span class="mbr-iconfont mbri-edit" media-simple="true"></span>
          </div>
          <div class="card-box align-center">
            <h4 class="card-title mbr-fonts-style display-7">
                        Lista de Alumnos</h4>
            <p class="mbr-text mbr-fonts-style display-7">Aquí puedes ver las lista de Alumnos.</p>
            <div class="mbr-section-btn text-center"><a href="/admin/listarAlumnos" class="btn btn-secondary display-4">
                            Listar Alumno</a></div>
          </div>
        </div>

        <div class="card  col-12 col-md-6 col-lg-3">
          <div class="card-img">
            <span class="mbr-iconfont mbri-edit" media-simple="true"></span>
          </div>
          <div class="card-box align-center">
            <h4 class="card-title mbr-fonts-style display-7">
                        Subir Certificado de Alumnos </h4>
            <p class="mbr-text mbr-fonts-style display-7">
              Aquí puedes subir los certificados de aprobaciones de curso para alumnos.<br><br></p>
            <div class="mbr-section-btn text-center"><a href="/admin/subir/alumnocertificado" class="btn btn-secondary display-4">Listar Familia</a></div>
          </div>
        </div>

        <div class="card  col-12 col-md-6 col-lg-3">
          <div class="card-img">
            <span class="mbr-iconfont mbri-edit" media-simple="true"></span>
          </div>
          <div class="card-box align-center">
            <h4 class="card-title mbr-fonts-style display-7">
                        Lista de Familiares</h4>
            <p class="mbr-text mbr-fonts-style display-7">
              Aquí puedes ver las lista de familias.<br><br></p>
            <div class="mbr-section-btn text-center"><a href="/admin/listarFamilia" class="btn btn-secondary display-4">Listar Familia</a></div>
          </div>
        </div>
        <div class="card  col-12 col-md-6 col-lg-3">
          <div class="card-img">
            <span class="mbr-iconfont mbri-edit" media-simple="true"></span>
          </div>
          <div class="card-box align-center">
            <h4 class="card-title mbr-fonts-style display-7">
                        Revisar antecedentes de Familias</h4>
            <p class="mbr-text mbr-fonts-style display-7">
              Aquí puedes ver los antecedentes de familias.<br><br></p>
            <div class="mbr-section-btn text-center"><a href="/admin/buscar/antecedentesFamilia" class="btn btn-secondary display-4">Ver</a></div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section class="features8 cid-qzVa0NOdEs" id="features8-3u" data-rv-view="2675">





    <div class="container">
      <div class="media-container-row">

        <div class="card  col-12 col-md-6 col-lg-3">
          <div class="card-img">
            <span class="mbr-iconfont mbri-edit" media-simple="true"></span>
          </div>
          <div class="card-box align-center">
            <h4 class="card-title mbr-fonts-style display-7">
                        Crear Programa</h4>
            <p class="mbr-text mbr-fonts-style display-7">Aquí puedes Crear programas de estudio.</p>
            <div class="mbr-section-btn text-center"><a href="/programa/crear" class="btn btn-secondary display-4">
                            Crear</a></div>
          </div>
        </div>

        <div class="card  col-12 col-md-6 col-lg-3">
          <div class="card-img">
            <span class="mbr-iconfont mbri-edit" media-simple="true"></span>
          </div>
          <div class="card-box align-center">
            <h4 class="card-title mbr-fonts-style display-7">
                        Ver programas disponibles </h4>
            <p class="mbr-text mbr-fonts-style display-7">
              Aquí puedes ver los programas de estudio disponibles en el sistema.<br><br></p>
            <div class="mbr-section-btn text-center"><a href="/programa/disponibles" class="btn btn-secondary display-4">Ver</a></div>
          </div>
        </div>


      </div>
    </div>
  </section>
  <section class="cid-qzhZD5b8HG" id="footer1-3k" data-rv-view="2678">





    <div class="container">
      <div class="media-container-row content text-white">
        <div class="col-12 col-md-3">
          <div class="media-wrap">
            <a href="">
                        <img src="../img/logomontreal-946x596.png" alt="Mobirise" title="" media-simple="true">
                    </a>
          </div>
        </div>
        <div class="col-12 col-md-3 mbr-fonts-style display-7">
          <h5 class="pb-3">Dirección</h5>
          <p class="mbr-text">
            1234 Street Name
            <br>City, AA 99999
          </p>
        </div>
        <div class="col-12 col-md-3 mbr-fonts-style display-7">
          <h5 class="pb-3">
                    Contacto</h5>
          <p class="mbr-text">
            Email: support@montreal.com
            <br>Teléfono +569 000 0000 001
            <br></p>
        </div>
        <div class="col-12 col-md-3 mbr-fonts-style display-7">
          <h5 class="pb-3"></h5>
          <p class="mbr-text"></p>
        </div>
      </div>
      <div class="footer-lower">
        <div class="media-container-row">
          <div class="col-sm-12">
            <hr>
          </div>
        </div>
        <div class="media-container-row mbr-white">
          <div class="col-sm-6 copyright">
            <p class="mbr-text mbr-fonts-style display-7">
              © Copyright 2017 Montreal - Todos los derechos reservados</p>
          </div>
          <div class="col-md-6">
            <div class="social-list align-right">
              <div class="soc-item">
                <a href="https://twitter.com" target="_blank">
                                <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                            </a>
              </div>
              <div class="soc-item">
                <a href="https://www.facebook.com" target="_blank">
                                <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                            </a>
              </div>
              <div class="soc-item">
                <a href="https://www.youtube.com" target="_blank">
                                <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                            </a>
              </div>
              <div class="soc-item">
                <a href="https://instagram.com" target="_blank">
                                <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                            </a>
              </div>
              <div class="soc-item">
                <a href="https://plus.google.com" target="_blank">
                                <span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                            </a>
              </div>
              <div class="soc-item">
                <a href="https://www.behance.net" target="_blank">
                                <span class="socicon-behance socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                            </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <script src="../js/jquery/jquery.min.js"></script>
  <script src="../js/popper/popper.min.js"></script>
  <script src="../js/tether/tether.min.js"></script>
  <script src="../js/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/smooth-scroll/smooth-scroll.js"></script>
  <script src="../js/dropdown/js/script.min.js"></script>
  <script src="../js/touch-swipe/jquery.touch-swipe.min.js"></script>
  <script src="../js/theme/js/script.js"></script>


  <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbri-down mbr-iconfont"></i></a></div>
</body>

</html>
