<!DOCTYPE html>
<html lang="en">
{{> head }}


<body>
  <section class="menu cid-qzhncBUByh" once="menu" id="menu1-e" data-rv-view="5449">



    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
      <div class="menu-logo">
        <div class="navbar-brand">
          <span class="navbar-logo">
                    <a href="index.hbs">
                         <img src="img/logomontreal-946x596.png" alt="Montreal" title="" media-simple="true" style="height: 3.8rem;">
                    </a>
                </span>
          <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="index.html"><p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MONTREAL</p></a></span>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
          <li class="nav-item">
            <a class="nav-link link text-white display-4" href=""><span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>

                        Saber más</a>
          </li>
        </ul>

      </div>
    </nav>
  </section>

  <section class="engine"><a href=""></a></section>
  <section class="header12 cid-qzhocLLBhm mbr-fullscreen" data-bg-video="https://www.youtube.com/watch?v=K-Z0DffWc_M" id="header12-h" data-rv-view="5451">



    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(20, 157, 204);">
    </div>

    <div class="container  ">
      <div class="media-container">
        <div class="col-md-12 align-center">
          <h1 class="mbr-section-title pb-3 mbr-white mbr-bold mbr-fonts-style display-1"><br>Centro de Estudio<br>Montreal</h1>



          <div class="icons-media-container mbr-white">
            <div class="card col-12 col-md-6 col-lg-4">
              <div class="icon-block">
                <a href="index.html#features8-r">
                                <span class="mbr-iconfont mbri-cursor-click" media-simple="true"></span>
                            </a>
              </div>
              <h5 class="mbr-fonts-style display-5">
                                Encargados</h5>
            </div>

            <div class="card col-12 col-md-6 col-lg-4">
              <div class="icon-block">
                <a href="index.html#header9-1i">
                                    <span class="mbr-iconfont mbri-users" media-simple="true"></span>
                                </a>
              </div>
              <h5 class="mbr-fonts-style display-5">
                                Familias anfitrionas</h5>
            </div>

            <div class="card col-12 col-md-6 col-lg-4">
              <div class="icon-block">
                <a href="index.html#slider1-i">
                                    <span class="mbr-iconfont mbrib-globe" media-simple="true"></span>
                                </a>
              </div>
              <h5 class="mbr-fonts-style display-5">Alumnos</h5>
            </div>


          </div>
        </div>
      </div>
    </div>


  </section>

  <section class="carousel slide cid-qzhsJ1F7ro" data-interval="false" id="slider1-i" data-rv-view="5455">



    <div class="full-screen">
      <div class="mbr-slider slide carousel" data-pause="true" data-keyboard="false" data-ride="carousel" data-interval="8000">
        <ol class="carousel-indicators">
          <li data-app-prevent-settings="" data-target="#slider1-i" class=" active" data-slide-to="0"></li>
          <li data-app-prevent-settings="" data-target="#slider1-i" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item slider-fullscreen-image active" data-bg-video-slide="false" style="background-image: url(img/1.jpg);">
            <div class="container container-slide">
              <div class="image_wrapper">
                <div class="mbr-overlay"></div><img src="img/1.jpg">
                <div class="carousel-caption justify-content-center">
                  <div class="col-10 align-center">
                    <h2 class="mbr-fonts-style display-1">¡VIAJA AL EXTRANJERO!</h2>
                    <p class="lead mbr-text mbr-fonts-style display-7">Si eres alumno de nuestro centro, puedes crear un usuario y ver las ofertas disponibles que tenemos para tí.</p>
                    <div class="mbr-section-btn" buttons="0"><a class="btn  display-4 btn-secondary-outline" href="/alumno/registrar">REGÍSTRATE</a> <a class="btn  btn-white-outline display-4" href="/alumno/login">INICIA SESIÓN</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false" style="background-image: url(img/mbr-1631x1080.jpg);">
            <div class="container container-slide">
              <div class="image_wrapper">
                <div class="mbr-overlay"></div><img src="img/mbr-1631x1080.jpg">
                <div class="carousel-caption justify-content-center">
                  <div class="col-10 align-right">
                    <h2 class="mbr-fonts-style display-1">¡VIAJA AL EXTRANJERO!</h2>
                    <p class="lead mbr-text mbr-fonts-style display-5">Si eres alumno de nuestro centro, puedes crear un usuario y ver las ofertas disponibles que tenemos para tí.</p>
                    <div class="mbr-section-btn" buttons="0"><a class="btn  btn-primary display-4" href="/alumno/registrar">REGÍSTRATE</a> <a class="btn  btn-white-outline display-4" href="/alumno/login">INICIAR SESIÓN</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#slider1-i"><span aria-hidden="true" class="mbri-left mbr-iconfont"></span><span class="sr-only">Previous</span></a><a data-app-prevent-settings=""
          class="carousel-control carousel-control-next" role="button" data-slide="next" href="#slider1-i"><span aria-hidden="true" class="mbri-right mbr-iconfont"></span><span class="sr-only">Next</span></a></div>
    </div>

  </section>

  <section class="header9 cid-qzhVRZ87d8 mbr-fullscreen mbr-parallax-background" id="header9-1i" data-rv-view="5464">





    <div class="container">
      <div class="media-container-column mbr-white col-md-8">
        <h1 class="mbr-section-title align-left mbr-bold pb-3 mbr-fonts-style display-1">Ayuda y Comparte</h1>
        <h3 class="mbr-section-subtitle align-left mbr-light pb-3 mbr-fonts-style display-2">
                Si quieres ayudar al futuro.</h3>
        <p class="mbr-text align-left pb-3 mbr-fonts-style display-5">Puedes postular a nuestro programa de cursos en el extranjero, llena los datos y verifica si puedes hospedar alumnos que viajan desde distintos países.
        </p>
        <div class="mbr-section-btn align-left"><a class="btn btn-md btn-primary display-4" href="/familia/registrar">REGÍSTRATE<br></a>
          <a class="btn btn-md btn-success display-4" href="/familia/login">INICIAR SESIÓN</a></div>
      </div>
    </div>


  </section>

  <section class="features8 cid-qzhyZgt7Sh" id="features8-r" data-rv-view="5467">





    <div class="container">
      <div class="media-container-row">

        <div class="card  col-12 col-md-6">
          <div class="card-img">
            <span class="mbr-iconfont mbri-letter" style="color: rgb(15, 118, 153);" media-simple="true"></span>
          </div>
          <div class="card-box align-center">
            <h4 class="card-title mbr-fonts-style display-7">Encargados CEL</h4>

            <div class="mbr-section-btn text-center"><a href="/cel/login" class="btn btn-primary display-4">INICIAR SESIÓN</a></div>
          </div>
        </div>

        <div class="card  col-12 col-md-6">
          <div class="card-img">
            <span class="mbr-iconfont mbri-desktop" style="color: rgb(15, 118, 153);" media-simple="true"></span>
          </div>
          <div class="card-box align-center">
            <h4 class="card-title mbr-fonts-style display-7">Encargados CEM</h4>

            <div class="mbr-section-btn text-center"><a href="/cem/login" class="btn btn-primary display-4">INICIAR SESIÓN</a></div>
          </div>
        </div>




      </div>
    </div>
  </section>

  <section class="cid-qzhZsqgnhJ mbr-reveal" id="footer1-1j" data-rv-view="5470">





    <div class="container">
      <div class="media-container-row content text-white">
        <div class="col-12 col-md-3">
          <div class="media-wrap">
            <a href="index.html">
                        <img src="img/logomontreal-946x596.png" alt="Mobirise" title="" media-simple="true">
                    </a>
          </div>
        </div>
        <div class="col-12 col-md-3 mbr-fonts-style display-7">
          <h5 class="pb-3">Dirección</h5>
          <p class="mbr-text">
            1234 Street Name
            <br>City, AA 99999
          </p>
        </div>
        <div class="col-12 col-md-3 mbr-fonts-style display-7">
          <h5 class="pb-3">
                    Contacto</h5>
          <p class="mbr-text">
            Email: support@montreal.com
            <br>Teléfono +569 000 0000 001
            <br></p>
        </div>
        <div class="col-12 col-md-3 mbr-fonts-style display-7">
          <h5 class="pb-3"></h5>
          <p class="mbr-text"></p>
        </div>
      </div>
      <div class="footer-lower">
        <div class="media-container-row">
          <div class="col-sm-12">
            <hr>
          </div>
        </div>
        <div class="media-container-row mbr-white">
          <div class="col-sm-6 copyright">
            <p class="mbr-text mbr-fonts-style display-7">
              © Copyright 2017 Montreal - Todos los derechos reservados.</p>
          </div>
          <div class="col-md-6">
            <div class="social-list align-right">
              <div class="soc-item">
                <a href="https://twitter.com/" target="_blank">
                                <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                            </a>
              </div>
              <div class="soc-item">
                <a href="https://www.facebook.com" target="_blank">
                                <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                            </a>
              </div>




            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  {{> scripts }}
  <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbri-down mbr-iconfont"></i></a></div>
  </body>

</html>
