<!DOCTYPE html>
<html lang="en">
{{> head }}

<body>
    <div class="container mt-4">
        <a href="/logout">cerrar sesion</a>
        
        ADMIN
        <ul>
            <li><a href="/admin/listarCem">listar CEM</a></li>
            <li><a href="/admin/listarCel">listar CEL</a></li>
            <li><a href="/admin/listarFamilia">listar Familia</a></li>
            <li><a href="/admin/listarAlumnos">listar Alumnos</a></li>
            <li><a href="/admin/crearCem">crear CEM</a></li>
            <li><a href="/admin/crearCel">crear CEL</a></li>
            <li><a href="/admin/subir/alumnocertificado">subir certificado alumno</a></li>
            <li><a href="/programa/crear">Crear programa</a></li>
            <li><a href="/programa/disponibles">Resumen de programas</a></li>
            <li><a href="/admin/buscar/antecedentesFamilia">consultar antecedentes de Familia</a></li>
            
            
        </ul>
        Alumno
        <ul>
            <li><a href="/alumno/login">Login</a></li>
            <li><a href="/alumno/registrar">Registrar</a></li>
            <li><a href="/alumno/postular">Postular a programa</a></li>
            <li><a href="/alumno/miprograma">mi programa </a></li>
            <li><a href="/alumno/asignarfamilia">seleccionar familia </a></li>
            <li><a href="/alumno/mifamilia">mi familia </a></li>
            <li><a href="/alumno/misnotas">mis notas</a></li>
            <li><a href="/nota/listar">consultar notas de alumno</a></li>
            <li><a href="/alumno/certificado">Ver certificado de aprobacion</a></li>
            
        </ul>
        <br> Familia
        <ul>
            <li><a href="/familia/login">Login</a></li>
            <li><a href="/familia/registrar">Registrar</a></li>
            <li><a href="/familia/subircertificados">Subir certificados</a></li>
            
        </ul>
        <br> CEM
        <ul>
            <li><a href="/cem/login">Login</a></li>
            <li><a href="/programa/crear">Crear programa</a></li>
            <li><a href="/nota/listar">consultar notas de alumno</a></li>
            <li><a href="/programa/aprobaralumno">aprobar postulacion alumno</a></li>
            <li><a href="/programa/aprobarcel">aprobar postulacion cel</a></li>
            <li><a href="/programa/disponibles">Resumen de programas</a></li>
            <li><a href="/admin/buscar/antecedentesFamilia">consultar antecedentes de Familia</a></li>
            
            
            
        </ul>
        <br> CEL
        <ul>
            <li><a href="/cel/login">Login</a></li>
            <li><a href="/programa/postularcel">Postular a programa</a></li>
            <li><a href="/cel/misprogramas">Mis programas</a></li>
            <li><a href="/nota/listar">consultar notas de alumno</a></li>
            <li><a href="/nota/registrar">Registrar nota alumno</a></li>
            <li><a href="/admin/buscar/antecedentesFamilia">consultar antecedentes de Familia</a></li>
            
            
            
        </ul>

    </div>


    {{> scripts }}
</body>

</html>